.widget-container.fluid-height.stf-cpu(ng-controller='MemoryCtrl')
  .widget-content.padded
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>
    <script src='/static/app/echarts.min.js'></script>
    <div id="memory_page" style="width: 800px;height:400px;TEXT-ALIGN: center;MARGIN-RIGHT: auto; MARGIN-LEFT: auto;"></div>
